[submodule "mini-nvim/pack/plugins/start/mini.nvim"]
	path = mini-nvim/pack/plugins/start/mini.nvim
    url = https://github.com/nvim-mini/mini.nvim.git
[submodule "mini-nvim/pack/plugins/start/render-markdown.nvim"]
	path = mini-nvim/pack/plugins/start/render-markdown.nvim
	url = https://github.com/MeanderingProgrammer/render-markdown.nvim.git
